body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1f5e31;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .product {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    width: 200px;
    text-align: center;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: auto;
  }

  .center-text {
    text-align: center;
}

.center-image {
  display: block;
  margin: auto;
}
