<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Page</title>
  <link rel="stylesheet" href="../static/css/ styles.css">
</head>
<body>
  <header>
    <h1>Payment for {{ product.name }}</h1>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
    </nav>
  </header>

  <main>
    <h2 class="center-text">{{ product.name }}</h2>
    <p class="center-text"><strong>Description:</strong> {{ product.description }}</p>
    <p class="center-text"><strong>Price:</strong> ${{ product.price }}</p>
    <p class="center-text"><strong>Quantity:</strong> {{ product.quantity }}</p>

    <h3 class="center-text">Farmer's QR Code for Payment</h3>
    <img src="\static\uploads\farmer_qr_code.jpg" alt="QR Code Image" class="center-image">
  </main>
</body>
</html>
